langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-oci
oci
faiss-cpu
pypdf
python-docx
pandas
openpyxl
beautifulsoup4
streamlit
python-dotenv
pytest
unstructured
markdown
oci
